<div class="lg:fixed top-0 left-0 z-10 transition-all delay-75 p-4 lg:px-[60px] lg:py-[20px]">
    <div class="flex justify-center lg:justify-between items-center">
        <a href="/" >
            <img src="/img/logo-elvis-light.png" alt="Porfolio logo" class="w-7 lg:w-[45px]" />
        </a>
    </div>
</div>